.form-control:focus{
    border-color : #C23272 !important;
    box-shadow: none !important;
    outline: none !important;
}

.form-control{
    border: none !important;
    box-shadow: none !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    font-family: 'Roboto Condensed',sans-serif !important;
    border-radius: 4px !important;
    border : .5px solid rgb(110, 109, 109) !important;
}

.form-select:focus{
    border-color: #C23272 !important;
    box-shadow: none !important;
}

.form-select{
    box-shadow: none !important;
    font-size: 14px !important;
    font-weight: 300;
    padding: 10px !important;
    border-radius:  0% !important;
}

.form-label{
    font-size: 14px !important;
    font-weight: 600 !important;
    font-family: 'Roboto Condensed',sans-serif !important;
}

